/* 公共的样式文件 */
.style_red {
    color: #ca212e;
}

.shortcut {
    font-size: 12px;
    height: 30px;
    background-color: #f1f1f1;
}

.top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.fl ul {
    display: flex;
}

.fl ul li {
    line-height: 30px;
    color: #666666;
    margin-right: 5px;
}

.fr ul {
    display: flex;
}

.fr ul li {
    line-height: 30px;
    color: #666666;
    font-size: 12px;
}


.fr>ul>li:not(:first-child)::before {
    content: "|";
    margin: 0 15px;
    color: #666;
}

/* 下箭头 */
.icon-shanglajiantou::after {
    font-family: "iconfont" !important;
    content: "\e626";
    /* 所有这个类  在元素内部的后面插入箭头 */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}

.header .logo h1 a {
    display: block;
    width: 171px;
    height: 61px;
    background-image: url(/images/logo.png);
    font-size: 0;
}

.header .search_hotwords {
    margin-top: 15px;
}

.header .search {
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.header .search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.header .search button {
    float: left;
    width: 80.8px;
    height: 32.8px;
    /* 因为不知道什么原因边框会少0.4px */
    background-color: #b1191a;
    font-size: 16px;
    color: #ffffff;
}

.header .hotwords {
    margin-top: 10px;
}

.header .hotwords a {
    margin: 0 10px;
    font-size: 12px;

}

.shopcar {
    position: relative;
    top: -7px;
    right: 100px;
    width: 140px;
    height: 36px;
    background-color: #f7f7f7;
    border: solid 1px #dfdfdf;
    line-height: 36px;
    text-align: center;
}

.shopcar p {
    display: inline-block;
    font-size: 12px;
    color: #666666;
}

/* 购物车 */
.icon-gouwuche::before {
    color: #b1191a;
}

.shopcar .count {
    position: absolute;
    top: -6px;
    left: 100px;
    width: 16px;
    height: 14px;
    background-color: #e60012;
    line-height: 16px;
    color: #ffffff;
    border-radius: 7px 7px 7px 0;
}

nav {
    position: relative;
    height: 45px;
    border-bottom: 2px solid #b1191a;
}

nav .w {
    display: flex;
    justify-content: flex-start;
}

nav .w .zuo {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
    color: #ffffff;
    line-height: 45px;
    text-align: center;
}

nav .w .you {
    float: left;
    width: 810px;
    height: 45px;
    padding-left: 10px;
}

nav .w .you a {
    float: left;
    overflow: hidden;
    width: 100px;
    height: 45px;
    color: #333333;
    text-align: center;
    line-height: 45px;
}

nav .you a:hover {
    color: #b1191a;
}

nav .w .xia {
    position: absolute;
    top: 45px;
    width: 210px;
    height: 466px;
    background-color: #b1191a;
}

nav .w .xia ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin: 0 2px;
    padding-left: 10px;
}

nav .w .xia ul li:hover {
    background-color: #f7f7f7;
}

nav .w .xia ul li:hover a {
    color: #b1191a;
}

nav .w .xia ul li:hover::after {
    color: #b1191a;
}

nav .w .xia ul li a {
    display: block;
    width: 206px;
    height: 31px;
    font-size: 14px;
    color: #dfdfdf;
}

/* 右箭头 */
nav .w .xia ul li::after {
    position: absolute;
    top: 0;
    right: 5px;
    font-family: "iconfont" !important;
    content: "\e622";
    color: #dfdfdf;
}

footer {
    height: 417px;
    background-color: #f5f5f5;
}

.mod_service {
    height: 110px;
    border-bottom: 1px solid #ededed;
}

.mod_service ul li {
    float: left;
    width: 240px;
    height: 110px;
    padding-top: 30px;
}

.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(/images/icons.png);
    margin: 0 5px 0 35px;
}

.tu1 {
    background-position: 308px -3px;
}

.tu2 {
    background-position: 306px -53px;
}

.tu3 {
    background-position: 304px -105px;
}

.tu4 {
    background-position: 302px -156px;
}

.tu5 {
    background-position: 303px -208px;
}

.mod_service h4 {
    font-size: 14px;
    color: #333333;
    margin-bottom: 9px;
}

.mod_service p {
    font-size: 12px;
    color: #666666;
}

.mod_help {
    height: 187px;
    border-bottom: 1px solid #ededed;
    /* background-color: #db98c9; */
    padding: 20px 50px 0 50px;
}

.mod_help dl {
    float: left;
    width: 183px;
    line-height: 20px;

}

.mod_help dt a {
    color: #333333;
}

.mod_help dd {
    color: #666666;
    font-size: 12px;
}

.mod_help dd img {
    margin-top: 15px;
}

.mod_copyright {
    height: 120px;
    /* background-color: #b1191a; */
    padding-top: 20px;
    color: #666666;
    font-size: 12px;
    text-align: center;
}

.mod_copyright .links {
    margin-bottom: 10px;
}

.mod_copyright .links a:not(:last-child)::after {
    content: "|";
    margin: 0 15px;
    color: #666;
}